.wholePage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainTitle {
    font-family: monospace, 'Courier New', Courier, Lucidatypewriter;
    font-size: 35px;
    color: rgb(66, 182, 245);
    display: flex;
    justify-content: center;
    width: 100%;
}

.subHeading {
    font-family: monospace, 'Courier New', Courier, Lucidatypewriter;
    font-size: 15px;
    color:rgb(66, 182, 245);
    display: flex;
    justify-content: center;
    width: 100%;
}

.logInBanner {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color:black;
    width: 1000px;
    border: solid rgb(66, 182, 245);
}

.rightSideBannerContainer {
    border: solid red;
    display: flex;
    justify-content: flex-end;
}